/* ===== Page Header and Navbar ===== */

.page-header[filter-color="red"] {
    background: rgba(55, 11, 11, 0.3);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, rgba(55, 11, 11, 0.3), rgba(189, 21, 6, 0.6));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(55, 11, 11, 0.3), rgba(189, 21, 6, 0.6));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(55, 11, 11, 0.3), rgba(189, 21, 6, 0.6));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(55, 11, 11, 0.3), rgba(189, 21, 6, 0.6));
    /* Standard syntax */
}

.logs-page-header {
    max-height: 120px !important;
}

.logs-title {
    margin: auto !important;
    padding-top: 55px !important;
    padding-bottom: 10px !important;
    font-size: 30pt;
}

.navbar-margin-none {
    margin-bottom: 0 !important;
}

/* ===== End Page Header and Navbar ===== */



/* ===== Background Styling ===== */

.bg-default {
    background-color: rgb(122, 118, 118) !important;
}

.bg-primary {
    background-color: rgb(207, 23, 7) !important;
}

.bg-info {
    background-color: rgb(33, 149, 233) !important;
}

.bg-success {
    background-color: #28ce1f !important;
}

.bg-danger {
    background-color: rgb(216, 35, 35) !important;
}

.bg-warning {
    background-color: rgb(255, 168, 54) !important;
}

/* ===== End Background Styling ===== */



/* ===== Table Styling ===== */

table {}

.table-container {
    overflow-x: scroll;
}

.logs {
    width: 100%;
}

thead {
    background-color: #ccc;
}

td, th {
    padding: 5px 5px 5px 5px;
}

.component-img img, .img-col {
    max-height: 100px;
    width: auto;
    margin: auto;
    display: block;
}

.component-img-container img, .img-col {
    max-height: 100px;
    width: auto;
    margin: auto;
    display: block;
}

.item-dark {
    background-color: #ddd;
}

.item input {
    max-width: 60px;
}

/* ===== End Table Styling ===== */



/* ===== Account ===== */

.hide {
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    display: none !important;
    padding: 0 !important;
    border: none !important;
}

/* ===== End Account ====== */



/* ===== Modal ===== */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 80%;
    margin-bottom: 10px;
}

.removePair,
.removeLocation {
    color: #aaa;
    font-size: 24pt;
}

.close:hover,
.close:focus,
.removePair:hover,
.removePair:focus,
.removeLocation:hover,
.removeLocation:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ===== End Modal ===== */



button {
    font-size: 16pt;
}

input,
select {
    font-size: 14pt;
}

select {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

.input {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.button {
    clear: both;
    display: block;
    margin-top: 10px !important;
    margin-top: 10px !important;
}

.button-two {
    margin-top: 10px;
}

.center {
    margin: auto;
    max-width: 100%;
}

.left-text {
    text-align: left !important;
}

.right-text {
    text-align: right !important;
}

.center-text {
    text-align: center !important;
}

.full-width {
    min-width: 100%;
    width: 100%;
}

.hide {
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    display: none !important;
    padding: 0 !important;
    border: none !important;
}

.note {}

.note:hover,
.note:focus {
    color: blue !important;
}