/* ===== Background Colors ===== */

.bg-red {
  background-color: #9e0e0e !important;
}

.bg-dark-red {
  background-color: #500707 !important;
}

/* ===== End Background Colors ===== */



/* ===== Page Header ===== */

.page-header[filter-color="red"] {
  background: rgba(44, 44, 44, 0.2);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(158, 14, 14, .6));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(158, 14, 14, .6));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(158, 14, 14, .6));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(158, 14, 14, .6));
  /* Standard syntax */
}

.page-header[filter-color="dark-red"] {
  background: rgba(44, 44, 44, 0.2);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(80, 7, 7, .6));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(80, 7, 7, .6));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(80, 7, 7, .6));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(80, 7, 7, .6));
  /* Standard syntax */
}

/* ===== End Page Header ===== */



/* ===== Section Colors ===== */

.section-color-primary {
  background-color: #eee !important;
}

.section-color-secondary {
  background-color: #bbb !important;
}

/* ===== End Section Colors ===== */



/* ===== Navbar and Sidebar ===== */

@media screen and (max-width: 991px) {
  .sidebar-collapse .navbar-collapse:before {
    background: #d00606 !important;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#d00606 0%, #000 80%) !important;
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d00606 0%, #000 80%) !important;
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d00606 0%, #000 80%) !important;
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d00606 0%, #000 80%) !important;
  }

  .navbar-collapse {
    max-width: 70%;
  }
}

@media screen and (max-width: 420px) {
  .nav-open .sidebar-collapse .navbar-translate {
    -webkit-transform: translate3d(-80%, 0, 0) !important;
    -moz-transform: translate3d(-80%, 0, 0) !important;
    -o-transform: translate3d(-80%, 0, 0) !important;
    -ms-transform: translate3d(-80%, 0, 0) !important;
    transform: translate3d(-80%, 0, 0) !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1007px) {
  #navigation {
    background-image: none !important;
  }
}

/* Top of page */
.navbar-logo {
  height: 40%;
  width: 40%;
}

@media screen and (max-width: 767px) {
  .navbar-logo {
    height: 80%;
    width: 80%;
  }

  .h1-seo {
    margin-top: 1%;
    font-size: 28pt;
  }

  .h3-seo {
    font-size: 16pt;
  }
}

@media screen and (max-width: 991px) {
  .navbar-logo {
    margin-top: 10%;
    height: 70%;
    width: 70%;
  }
}

@media screen and (max-height: 600px) {
  .navbar-logo {
    margin-top: 3%;
    height: 45%;
    width: 45%;
  }
}

/* ===== End Navbar and Sidebar ===== */



/* ===== About ===== */

#personal-picture {
  margin: auto;
  margin-right: none;
  margin-left: none;
  padding: 6% 7% 6% 8.5%;
}

#about h2 {
  font-size: 36pt;
}

#about-text {
  margin: auto;
  margin-right: none;
  margin-left: none;
  padding: 0 5% 0 1%;
}

@media screen and (max-width: 991px) {
  #about h2 {
    font-size: 24pt;
    text-align: center;
  }

  #about-text {
    padding: 0 5% 0 6%;
  }
}

/* ===== End About ===== */



/* ===== Portfolio ===== */

#portfolio {
  padding: 4%;
}

#portfolio h2 {
  font-weight: bold;
}

#portfolio h4 {
  padding-left: 2%;
}

.project {
  background-color: #999;
  padding-top: 8px;
  margin: 0 1% 2% 1%;
  text-decoration-line: none !important;
  color: black;
}

.project:hover,
.project:focus {
  color: #f80a10 !important;
}

.project-image {
  margin-bottom: -24pt;
  padding-right: 2%;
  padding-left: 2%;
}

@media screen and (max-width: 991px) {
  .row {
    display: block;
  }

  .project {
    margin: auto;
  }

  .project-image {
    margin-bottom: -24pt;
    padding-right: 1%;
    padding-left: 1%;
  }
}

/* ===== End Portfolio ===== */



/* ===== Gallery ===== */

#gallery {
  padding: 4%;
}

#gallery h2 {
  font-weight: bold;
}

#gallery h4,
#gallery p {
  padding-left: 2%;
}

#gallery h4 {
  margin-bottom: 4px;
}

#gallery p {
  font-size: 13pt;
  padding-right: 2%;
  text-transform: inherit;
  line-height: 1.2em;
}

/* ===== End Gallery ===== */



/* ===== Contact ===== */

#contact {
  padding: 4%;
}

#contact #contact-plugs {
  padding-left: 6%;
}

#contact a {
  color: #f80a10 !important;
}

/* ===== End Contact ===== */



/* ===== Footer ===== */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  color: #fff !important;
  padding-top: 10px;
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

#footer a {
  color: #f80a10 !important;
}

/* ===== End Footer ===== */



/* ===== Horizontal Break ===== */

.hr-primary,
.hr-secondary {
  font-family: FontAwesome;
  text-align: center;
  line-height: 1px;
  height: 3px;
  font-size: 3em;
  border-width: 1px 0;
  border-style: solid;
  margin: none;
  margin-bottom: 30px;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

.hr-primary {
  border-color: #bbb;
}

.hr-secondary {
  border-color: #444;
}

.hr-primary:after,
.hr-secondary:after {
  content: '\f121';
  display: inline;
  padding: 0 0.3em;
}

.hr-primary:after {
  color: #888;
  background-color: #eee;
}

.hr-secondary:after {
  color: #444;
  background-color: #bbb;
}

x:-o-prefocus,
.hr-primary:after,
.hr-secondary:after {
  content: '';
}

/* ===== End Horizontal Break ===== */